<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<nav>
  <div class="nav-wrapper cor-nav">
    <a href="#" class="brand-logo menu">DUAS RODAS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Cadastros</a></li>
      <li><a href="">Contato</a></li>
      <li><a href="">Sobre</a></li>
    </ul>
  </div>
</nav>

<h1>ORDENS DE MANUTENÇÃO</h1>
<h2 class="open">23</h2>

<div class="row">
  <div class="teste" class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <div class="card-open">
          <img src="../../assets/images/open.jpg">
        </div>
        <h5 class="card-title">Em Aberto</h5>
      </div>
      <div class="card-content">
        <p>Última OM aberta - 5359</p>
        <p>Data: 17/05/2019</p>
        <p>Hora: 20h50</p>

      </div>
      <div class="card-action">
        <a href="#">Ver Ordens...</a>
      </div>
    </div>
  </div>
</div>

<h2 class="danger">12</h2>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <div class="card-open">
          <img src="../../assets/images/danger.jpg">
        </div>
        <h5 class="card-title">Urgentes</h5>
      </div>
      <div class="card-content">
        <p>Última OM urgente - 67</p>
        <p>Data: 16/05/2019</p>
        <p>Hora: 15h35</p>

      </div>
      <div class="card-action">
        <a href="#">Ver Ordens...</a>
      </div>
    </div>
  </div>
</div>

<h2 class="done">67</h2>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <div class="card-open">
          <img src="../../assets/images/done.jpg">
        </div>
        <h5 class="card-title">Concluídas</h5>
      </div>
      <div class="card-content">
        <p>Última OM concluída - 977</p>
        <p>Data: 13/05/2019</p>
        <p>Hora: 09h12</p>

      </div>
      <div class="card-action">
        <a href="#">Ver Ordens...</a>
      </div>
    </div>
  </div>
</div>


